.graph {
  text-align: center;
  width: 100%;
}

.footer {
  margin-top: 10px;
  text-align: center;
}

.error {
  color: red;
}

.button {
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
}

.button:hover {
  background-color: #ddd;
  cursor: pointer;
}
