pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.flex-parent {
  display: flex;
}

.input-area {
  border: 2px solid;
  /* width: 50%;*/
  min-width: 300px;
  max-width: 100vw;
  /*height: 100%;*/
  min-height: 300px;
  max-height: 100vh;
}

.graph {
  text-align: center;
  width: 100%;
}

.flex-child {
  flex: 1;
  margin: 10px;
}

.flex-child:first-child {
  margin-right: 20px;
}

.footer {
  margin-top: 10px;
  text-align: center;
}
